./KS_exp/gp_model.pkl
./Datasets/nv_original_noiselv5.h5
./Datasets/nv_clean.h5
./Datasets/nv_originalV2_noiselv2.h5
./Datasets/nv_original_noiselv1.h5
./Datasets/nv_newcut_original_noiselv1.h5
./Datasets/course_timestep_cylinder/Cylinder_V.npy
./Datasets/course_timestep_cylinder/Cylinder_W.npy
./Datasets/course_timestep_cylinder/Cylinder_U.npy
./Datasets/nv_newcut_original_clean.h5
./Datasets/nv_noiselv1.h5
./Datasets/nv_originalV2_clean.h5
./Datasets/reaction_diffusion_rudy.mat
./Datasets/nv_original_noiselv3.h5
./Datasets/reaction_diffusion_3d_64.mat
./Datasets/reaction_diffusion_2d_big.mat
./Datasets/nv_newcut_original_noiselv2.h5
./Datasets/nv_original_clean.h5
./Datasets/reaction_diffusion_3d_128.mat
./Datasets/nv_original_noiselv2.h5
./NV_exp/IPI_output_files/PMS_denoised_full_data.h5
./NV_exp/IPI_output_files/PMS_clean_full_data.h5
./NV_exp/IPI_output_files/PMS_undenoised_full_data.h5
./NV_exp/IPI_output_files/PMS_data.h5
./KdV_exp/kdv_99_depth12_1e-2_pinclusion.trace
./KdV_exp/kdv_rh.trace
./KdV_exp/kdv_99_depth12.trace
./KdV_exp/kdv_99_depth12_low_pinclusion.trace
./Burgers_exp/burgers_99.trace
./Burgers_exp/burgers_rh.trace
./Burgers_exp/burgers_99_depth12.trace
./3D_exp/u_noise1e-1_denoised.npy
./3D_exp/u_noise1e-1.npy
